<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">LIBRARY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/libros']">Libros</a>
        </li>

      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li *ngIf="identity && identity.avatar" class="nav-item">
          <img src="{{url+'user/avatar/'+identity.avatar}}" class="avatar-nav">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            {{ identity.name +' '+ identity.surname }} 
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes de perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0">
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"><b>LIBRARY</b> es una Prueba Técnica de Laravel y Angular hecha por Carlos Gutierrez © 2022.11.16</span>
  </div>
</footer>